*{
    margin: 0%;
    padding: 0%;
    color: rgb(255, 255, 255);
}
#navbar {
    height: 60px;
    background-color: #0f1111;
}
button{
    background-color: #f08804;
}
#logo{
    color: #f08804;
    font-size: 25px;
}
a{
    margin-right: 200px;
    text-decoration: none;
    text-align: center;
}
h1{
    margin: 20px;
}
#displaydoc{
    display: inline-block;
    margin: 20px;
    padding: 25px 25px ;
    border: 2px solid black;
   
}
#one{
    display: inline-block;
    margin: 20px;
    padding: 25px 25px;
    border: 2px solid black;
}
#you{
    display: inline-block ;
    margin: 20px;
    padding: 25px 25px ;
    border: 2px solid black;
}
footer{
    color: #ffffff;
    background-color: #0f1111;
    text-align: center;
}
#contextbox{
    height: 600px;
}